rules_version = '2';
service cloud.firestore {
 match /databases/{database}/documents {
  match /leaderboard/{uid} {
   allow read: if true;
   allow write: if false;
  }
  match /arenaChallenges/{id} {
   allow read, write: if false;
  }
  match /{document=**} { allow read, write: if false; }
 }
}
